<div class="flex justify-center items-center h-full" *ngIf="!isLoging">
  <div class="w-1/4">
    <div class="text-center">
      <img nz-image width="150px" height="150px" nzSrc="https://ng.ant.design/assets/img/logo.svg" alt="" />
    </div>
    <nz-form-item>
      <nz-form-control>
        <nz-input-group nzPrefixIcon="user">
          <input type="text" nz-input [(ngModel)]="userObj.userId" placeholder="帳號" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <nz-input-group nzPrefixIcon="lock">
          <input type="password" nz-input [(ngModel)]="userObj.password" placeholder="密碼" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <div nz-row class="mb-4">
      <div nz-col [nzSpan]="12">
        <label nz-checkbox [(ngModel)]="userObj.remember">
          <span>Remember me</span>
        </label>
      </div>
      <div nz-col [nzSpan]="12">
        <a class="float-right">Forgot password</a>
      </div>
    </div>
    <button nz-button class="w-full mb-4" [nzType]="'primary'" (click)="submitForm()">Log in</button>
    Or
    <a>register now!</a>
  </div>
</div>

<nz-spin [nzSpinning]="!isLoading" nzTip="Loading..." *ngIf="isLoging">
  <nz-layout>
    <nz-layout>

      <!-- header -->
      <nz-header class="bg-white h-auto p-0 border-0 border-b-[2px] border-solid border-[#00646E]">
        <div nz-row>
          <div nz-col nzFlex="60px">
            <!-- logo -->
            <img class="h-10 pl-5 cursor-pointer" src="assets\images\header-1.jpg" alt="TestRite"
              (click)="gotoHome()" />
          </div>
          <div nz-col nzFlex="auto" class="text-right">
            <div nz-row class="w-full">
              <div class="float-left" nz-col nzFlex="auto">
                <ul nz-menu nzMode="horizontal" class="w-fit">
                  <li nz-submenu class="!pr-1" nzPlacement="bottomLeft" nzTitle="旅遊小站" nzIcon="car">
                    <ul>
                      <li nz-menu-item>旅遊分享</li>
                    </ul>
                  </li>
                  <li nz-submenu class="!pr-1" nzPlacement="bottomLeft" nzTitle="旅遊網相關網站" nzIcon="global">
                    <ul>
                      <li nz-menu-item><a href="https://www.booking.com/" target="_blank">Booking</a></li>
                    </ul>
                  </li>
                  <li nz-submenu class="!pr-1" nzPlacement="bottomLeft" nzTitle="系統相關設定" nzIcon="setting">
                    <ul>
                      <li nz-menu-item>帳號權限設定</li>
                    </ul>
                  </li>
                </ul>
              </div>
              <img class="h-[65px]" src="assets\images\header-2.png" alt="Header" />
              <div class="float-right bg-[#00646E] text-white" nz-col nzFlex="">
                <!-- USER -->
                <span nz-icon class="text-2xl pr-4" nzType="user" nzTheme="outline"
                [nzTooltipTitle]="userTpl" [nzTooltipArrowPointAtCenter]="true" nzTooltipPlacement="leftTop"
                nz-tooltip></span>
                <ng-template #userTpl>
                  <div class="text-base">
                    <div>{{ userObject.userId }}</div>
                    <div>{{ userObject.userName }}</div>
                  </div>
                </ng-template>
                <span nz-icon class="text-2xl pr-4 cursor-pointer" nzType="logout" nzTheme="outline"
                (click)="logout()"></span>
              </div>
            </div>
          </div>
        </div>
      </nz-header>

      <!-- content -->
      <nz-layout class="content-layout">
        <router-outlet></router-outlet>
      </nz-layout>

    </nz-layout>
  </nz-layout>
</nz-spin>
