<nz-layout class="content-layout">
  <nz-space nzDirection="vertical">
    <nz-header *nzSpaceItem class="p-5 h-96">
      <nz-carousel nzAutoPlay>
        <div nz-carousel-content *ngFor="let index of array">
          <a [href]="index.url" target="_blank">
            <img class="p w-full max-h-96" [src]="index.img" alt="" />
          </a>
        </div>
      </nz-carousel>
    </nz-header>

    <h1 *nzSpaceItem class="ml-5"><img src="assets\images\header-2.png" class="h h-7 w-7" /> 我的旅遊日記 </h1>

    <nz-content *nzSpaceItem class="px-5">

      <div class="">

        <nz-table #basicTable [nzData]="listOfData" nzBordered="true">
          <thead>
            <tr>
              <th nzWidth="70px">圖片</th>
              <th nzWidth="200px">名稱</th>
              <th nzWidth="300px">地址</th>
              <th>簡介</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of basicTable.data">
              <td><img class="max-w-72" src="{{data.travelPictureUrl}}"/></td>
              <td>{{data.travelName}}</td>
              <td>{{data.travelAdress}}</td>
              <td>
                {{data.travelSummary}}
              </td>
            </tr>
          </tbody>
        </nz-table>
      </div>
    </nz-content>
  </nz-space>
</nz-layout>
